<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not found | Page introuvable</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="margin: 50px 0;">
                <h1 style="font-size: 5em; text-align: center;">404</h1>
                <h2 style="font-size: 4em; text-align: center;">Oups !</h2>
                <p style="font-size: 2em;text-align: center;">Page introuvable</p>
                <p style="text-align: center;"><a href="/">retour</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
