{% extends 'admin/layouts/master.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Admin</h1>

                <a href="{{ path_for('admin.signout') }}">signout</a>
            </div>
        </div>
    </div>
{% endblock %}
