<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Signin | Back-office</title>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if flash.getMessage('danger') %}
                {% for message in flash.getMessage('danger') %}
                    <div class="alert alert-danger">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            {% if flash.getMessage('warning') %}
                {% for message in flash.getMessage('warning') %}
                    <div class="alert alert-warning">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            {% if flash.getMessage('success') %}
                {% for message in flash.getMessage('success') %}
                    <div class="alert alert-success">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            {% if flash.getMessage('info') %}
                {% for message in flash.getMessage('info') %}
                    <div class="alert alert-info">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="container">

    <form class="form-signin" method="post" action="{{ path_for('admin.signin_check') }}">
        <h2 class="form-signin-heading">Identifiez-vous</h2>
        <label for="username" class="sr-only">Pseudo</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Pseudo" autofocus>
        <label for="password" class="sr-only">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe">
        {#<div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>#}
        {{ csrf_field() }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
